# Python Lists

1. Lists are ordered collection of data items.

2. They store multiple items in a single variable.

3. List items are separated by commas and enclosed within square brackets [].

4. Lists are changeable meaning we can alter them after creation.

In [ ]:
a = [1,2,3,4,5]
print(a)

[1, 2, 3, 4, 5]

In [ ]:
lst_1 = [1,2,4,6]
print(lst_1)

[1, 2, 4, 6]

In [ ]:
lst_2 = ["Red" , "Green" , "Blue"]
print(lst_2)

['Red', 'Green', 'Blue']

In [ ]:
lst_1

[1, 2, 4, 6]

In [ ]:
lst_2

['Red', 'Green', 'Blue']

In [ ]:
names_age = ["Ali" , 29 , "Ahmed" , 21 , "Zaid" , 26, True]
print(names_age)

['Ali', 29, 'Ahmed', 21, 'Zaid', 26, True]

As we can see, a single list can contain items of different data types.

## List Index

Each item/element in a list has its own unique index. This index can be used to access any particular item from the list. The first item has index [0], second item has index [1], third item has index [2] and so on.

In [ ]:
lst_2 =  ["Chair" , "Table" , "Cupboard"]

#         [0]       [1]        [2]

print(len(lst_2))

print(lst_2[2])

3
Cupboard

## Accessing list items

We can access list items by using its index with the square bracket syntax []. For example lst_2[0] will give "Chair", lst_2[1] will give "Table" and so on...

### Positive Indexing:
As we have seen that list items have index, as such we can access items using these indexes.

In [ ]:
lst_2 =  ["Chair" , "Table" , "Cupboard"]
print(lst_2[0])
print(lst_2[1])
print(lst_2[2])
print(lst_2[3]) # It generates error

Chair
Table
Cupboard

IndexError: list index out of range

# Negative Indexing:

Similar to positive indexing, negative indexing is also used to access items, but from the end of the list. The last item has index [-1], second last item has index [-2], third last item has index [-3] and so on.

In [ ]:
lst_3 = ["Red" , "Green" , "Blue" , "Gray" , "Yellow" , "Purple"]
#        [-6]      [-5]     [-4]     [-3]      [-2]      [-1]

print(lst_3[-1])
print(lst_3[-2])
print(lst_3[-3])
print(lst_3[-4])
print(lst_3[-5])
print(lst_3[-6])

Purple
Yellow
Gray
Blue
Green
Red

In [ ]:
lst_3[-6]

'Red'

In [ ]:
list_1 = [ 6 , 8 , 9 , 11]
list_1[1]

8

In [ ]:
list_1 = [ 6 , 8 , 9 , 11]

index_no = int(input("Enter your index no: "))
print(list_1[index_no])

Enter your index no: 2
9

In [ ]:
list_1 = [ 6 , 8 , 9 , 11]
index_no = int(input("Enter your index no: "))
print(list_1[index_no-1])

Enter your index no: 3
9

### Check whether an item in present in the list?
We can check if a given item is present in the list. This is done using the in keyword.

In [ ]:
lst_3 = ["Red" , "Green" , "Blue" , "Gray" , "Yellow" , "Purple"]
print("Yellow" in lst_3) # it generates True or False

True

In [ ]:
if "Red" in lst_3:
    print("it is present")
else:
    print("No it is not Present")

it is present

**Modifying Elements in a List**

In [ ]:
numbers = [10, 20, 30, 40, 50]

# Changing the value of the second element
numbers[1] = 25
print("Modified List:", numbers)

Modified List: [10, 25, 30, 40, 50]

In [ ]:
ages = [25 , 41 , 8 , 75]
ages_2 = ages
ages[0] = 26
print(ages_2)

[26, 41, 8, 75]

**Adding Elements to a List**

In [ ]:
fruits = ["apple", "banana"]

In [ ]:
# Using append() to add a single element
fruits.append("cherry")
print("After append:", fruits)

After append: ['apple', 'banana', 'cherry', 'cherry']

In [ ]:
# Using extend() to add multiple elements
fruits = ["apple", "banana"]
fruits.extend(["orange", "grape"])
print("After extend:", fruits)

After extend: ['apple', 'banana', 'orange', 'grape']

In [ ]:
# Using insert() to add an element at a specific position
fruits.insert(1, "kiwi")
print("After insert:", fruits)

After insert: ['apple', 'kiwi', 'kiwi', 'banana', 'orange', 'grape']

In [ ]:
fruits

['apple', 'kiwi', 'kiwi', 'banana', 'orange', 'grape']

In [ ]:
fruits = ["apple", "banana"]
fruits.insert(1, "kiwi")
print("After insert:", fruits)

After insert: ['apple', 'kiwi', 'banana']

**Removing Elements from a List**

In [ ]:
fruits = ["apple", "banana", "cherry", "banana"]
# Using remove() to remove the first occurrence of an element
fruits.remove("banana")
print("After remove:", fruits)

After remove: ['apple', 'cherry', 'banana']

In [ ]:
# Using pop() to remove an element by index
# Note : If you do not provide an index, pop() will remove the last element by default.
fruits = ["apple", "banana", "cherry", "banana"]
fruits.pop(1)
print("After pop:", fruits)

After pop: ['apple', 'cherry', 'banana']

In [ ]:
numbers = [10, 20, 30, 40, 50]

# Removing and returning the last element
removed_element = numbers.pop()
print("Removed element:", removed_element)  # Output: 50
print("Updated list:", numbers)

Removed element: 50
Updated list: [10, 20, 30, 40]

In [ ]:
numbers = [10, 20, 30, 40, 50]

# Removing and returning the last element
removed_element = numbers.pop(1)
print("Removed element:", removed_element)  # Output: 50
print("Updated list:", numbers)

Removed element: 20
Updated list: [10, 30, 40, 50]

In [ ]:
# Using del to delete an element by index
fruits = ["apple", "banana", "cherry", "banana"]
del fruits[3]
print("After del:", fruits)

After del: ['apple', 'banana', 'cherry']

In [ ]:
# List of colors
colors = ["red", "blue", "green", "yellow"]

# Removing an element by index
del colors
print("Updated list:", colors)  # Output: ['red', 'blue', 'yellow']

NameError: name 'colors' is not defined

In [ ]:
# Deleting a slice of elements
colors = ["red", "blue", "green", "yellow"]
del colors[1:3]
print("Updated list after slice deletion:", colors)

Updated list after slice deletion: ['red', 'yellow']

In [ ]:
# Using clear() to remove all elements
fruits = ["apple", "banana", "cherry", "banana"]
fruits.clear()
print("After clear:", fruits)

After clear: []

**Slicing a List**

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# Getting a slice of the list (from index 2 to 5)
slice1 = numbers[2:6]
print("Slice1:", slice1)

Slice1: [3, 4, 5, 6]

In [ ]:
# Getting a slice from the beginning to index 3
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
slice2 = numbers[:4]
print("Slice2:", slice2)

Slice2: [1, 2, 3, 4]

In [ ]:
# Getting a slice from index 4 to the end
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
slice3 = numbers[4:]
print("Slice3:", slice3)

Slice3: [5, 6, 7, 8, 9]

In [ ]:
# Add elements in an empty list
attendance = []
attendance.append("Daniyal")
attendance.append("Ali")
attendance.append("Usman")
print("Today's attendance:", attendance)

Today's attendance: ['Daniyal', 'Ali', 'Usman']