In [6]:
import pandas as pd
import numpy as np

df = pd.read_csv("https://raw.githubusercontent.com/leonism/sample-superstore/master/data/superstore.csv")

df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2017-152156,11/8/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2.0,0.00,41.9136
1,2,CA-2017-152156,11/8/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3.0,0.00,219.5820
2,3,CA-2017-138688,6/12/2017,6/16/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2.0,0.00,6.8714
3,4,US-2016-108966,10/11/2016,10/18/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5.0,0.45,-383.0310
4,5,US-2016-108966,10/11/2016,10/18/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2.0,0.20,2.5164

### Cleaning & Preparing

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10800 entries, 0 to 10799
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         10800 non-null  object
 1   Order ID       10800 non-null  object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9983 non-null   float64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   float64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(5), object(16)
memory usage: 1.7+ MB

In [8]:
df.isnull().sum()

Row ID             0
Order ID           0
Order Date       806
Ship Date        806
Ship Mode        806
Customer ID      806
Customer Name    806
Segment          806
Country          806
City             806
State            806
Postal Code      817
Region           806
Product ID       806
Category         806
Sub-Category     806
Product Name     806
Sales            806
Quantity         806
Discount         806
Profit           806
dtype: int64

In [9]:
df.columns = df.columns.str.replace(' ', '_', ).str.lower()

In [10]:
df.columns

Index(['row_id', 'order_id', 'order_date', 'ship_date', 'ship_mode',
       'customer_id', 'customer_name', 'segment', 'country', 'city', 'state',
       'postal_code', 'region', 'product_id', 'category', 'sub-category',
       'product_name', 'sales', 'quantity', 'discount', 'profit'],
      dtype='object')

In [12]:
df['order_date'] = pd.to_datetime(df['order_date'])

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10800 entries, 0 to 10799
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   row_id         10800 non-null  object
 1   order_id       10800 non-null  object
 2   order_date     9994 non-null   datetime64[ns]
 3   ship_date      9994 non-null   object
 4   ship_mode      9994 non-null   object
 5   customer_id    9994 non-null   object
 6   customer_name  9994 non-null   object
 7   segment        9994 non-null   object
 8   country        9994 non-null   object
 9   city           9994 non-null   object
 10  state          9994 non-null   object
 11  postal_code    9983 non-null   float64
 12  region         9994 non-null   object
 13  product_id     9994 non-null   object
 14  category       9994 non-null   object
 15  sub-category   9994 non-null   object
 16  product_name   9994 non-null   object
 17  sales          9994 non-null   float64
 18  quantity       9994 non-null   float64
 19  discount       9994 non-null   float64
 20  profit         9994 non-null   float64
dtypes: datetime64[ns](1), float64(5), object(15)
memory usage: 1.7+ MB

In [14]:
df.groupby('region')["sales"].mean()

region
Central    215.772661
East       238.336110
South      241.803645
West       226.493233
Name: sales, dtype: float64

In [15]:
df.groupby(["category", "sub-category"])["profit"].sum().sort_values(ascending=False)

category         sub-category
Technology       Copiers         55617.8249
                 Phones          44515.7306
                 Accessories     41936.6357
Office Supplies  Paper           34053.5693
                 Binders         30221.7633
Furniture        Chairs          26590.1663
Office Supplies  Storage         21278.8264
                 Appliances      18138.0054
Furniture        Furnishings     13059.1436
Office Supplies  Envelopes        6964.1767
                 Art              6527.7870
                 Labels           5546.2540
Technology       Machines         3384.7569
Office Supplies  Fasteners         949.5182
                 Supplies        -1189.0995
Furniture        Bookcases       -3472.5560
                 Tables         -17725.4811
Name: profit, dtype: float64

In [17]:
df.groupby("segment").agg(
    total_sales=('sales', 'sum'),
    total_profit=('profit', 'sum'),
    average_discount=('discount', 'mean'),
    max_quantity=('quantity', 'max'),
    avg_discount=('discount', 'mean'),
    order_count=('order_id', 'count')
)

,total_sales,total_profit,average_discount,max_quantity,avg_discount,order_count
segment,,,,,,
Consumer,1.161401e+06,134119.2092,0.158141,14.0,0.158141,5191
Corporate,7.061464e+05,91979.1340,0.158228,14.0,0.158228,3020
Home Office,4.296531e+05,60298.6785,0.147128,14.0,0.147128,1783

Find total sales and average quantity for each region. \
For each category, compute the standard deviation and CV of sales. \
Create a column high_discount = True if discount > average discount for its segment. \
Filter only those sub-categories where total sales > 10000.

### 1. Total sales and average quantity for each region

In [19]:
region_stats = df.groupby('region').agg(total_sales=('sales', 'sum'), avg_quantity=('quantity', 'mean'))
print('Total sales and average quantity for each region:')
print(region_stats)

Total sales and average quantity for each region:
         total_sales  avg_quantity
region
Central  501239.8908      3.779595
East     678781.2400      3.728230
South    391721.9050      3.832716
West     725457.8245      3.829535

### 2. For each category, compute the standard deviation and coefficient of variation (CV) of sales

In [20]:
cat_stats = df.groupby('category')['sales'].agg(['std', 'mean'])
cat_stats['cv'] = cat_stats['std'] / cat_stats['mean']
print('Standard deviation and CV of sales for each category:')
print(cat_stats[['std', 'cv']])

Standard deviation and CV of sales for each category:
                         std        cv
category
Furniture         503.179145  1.438333
Office Supplies   382.182228  3.202892
Technology       1108.655848  2.448936

### 3. Create a column high_discount = True if discount > average discount for its segment

In [21]:
segment_avg_discount = df.groupby('segment')['discount'].transform('mean')
df['high_discount'] = df['discount'] > segment_avg_discount
print('Sample of high_discount column:')
print(df[['segment', 'discount', 'high_discount']].head())

Sample of high_discount column:
     segment  discount  high_discount
0   Consumer      0.00          False
1   Consumer      0.00          False
2  Corporate      0.00          False
3   Consumer      0.45           True
4   Consumer      0.20           True

### 4. Filter only those sub-categories where total sales > 10000

In [22]:
subcat_sales = df.groupby('sub-category')['sales'].sum()
high_sales_subcats = subcat_sales[subcat_sales > 10000].index
filtered_df = df[df['sub-category'].isin(high_sales_subcats)]
print(f"Sub-categories with total sales > 10000: {list(high_sales_subcats)}")
print(filtered_df[['sub-category', 'sales']].head())

Sub-categories with total sales > 10000: ['Accessories', 'Appliances', 'Art', 'Binders', 'Bookcases', 'Chairs', 'Copiers', 'Envelopes', 'Furnishings', 'Labels', 'Machines', 'Paper', 'Phones', 'Storage', 'Supplies', 'Tables']
  sub-category     sales
0    Bookcases  261.9600
1       Chairs  731.9400
2       Labels   14.6200
3       Tables  957.5775
4      Storage   22.3680